* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
  }

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* apply styles to <footer> */
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}


  /* Questions for TAs:
  1. In module 1.2.3 (Add Content to the Header), the instruction appears to show
  '<a href="/"></a>' around the <h1> -- I had to remove this in order to make the 
  'Run Buddy' header change to yellow. Why did it look like the instructions required 
  the <href> before we added the no 'text-decoration' property (to eliminate the underline?
  Why didn't that work for me? 

  2. I need a visual aid or something for the following; I don't get it:
  From 1.2.9: "Well, remember that whole "box model" discussion from earlier? Our issue has something to do with that. See, we told our footer CSS rule declaration to have both a width of 100% and padding of 35px on both the left and right sides. Having a width of 100% means it'll be the full width of it's parent (in this case, it's the <body> element), but then we add on a total of 70px to the left and right with padding and it makes our <footer> element wider than the actual screen!"

  
  */

